* {
  box-sizing: border-box;
}

body {
  width: 95%;
  margin: auto;
  padding: 5px;
  background-color: white;
  color: #695338;
}

:root {
  background-image: url(kuvat/annie-spratt-HB-Kf9WLy_0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  text-align: center;
}

header img {
  vertical-align: middle;
  width: 150px;
}

#paavalikko ul {
  padding-left: 0px;
}
#paavalikko li {
  display: inline-block;
  padding: 10px;
}

#paavalikko a {
  color: #343334;
  text-decoration: none;
  font-size: 20px;
}
#paavalikko a:hover {
  color: teal;
}
#paavalikko a.active {
  color: palevioletred;
}

.heroImage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(kuvat/banner1.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heroText {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
  -webkit-text-stroke-color: rgb(255, 117, 142);
  -webkit-text-stroke-width: 1px;
}

#tuotekuvat {
  width: 90%;
  text-align: center;
  margin: auto;
}

#tuotekuvat img {
  object-fit: cover;
}

@media only screen and (max-width: 560px) {
  .navbar {
    display: none;
  }
  .responsive {
    display: block;
    background-color: white;
    position: absolute;
    top: 70px;
    width: 100%;
  }

  header a.icon {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    color: black;
    font-size: 2em;
    padding-top: 30px;
  }

  #paavalikko li {
    display: block;
    text-align: left;
    border: none;
    font-size: 20px;
  }
  #paavalikko {
    border-bottom: solid 1px rgb(255, 226, 235);
  }

  #tuotekuvat img {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (min-width: 561px) {
  header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 90px;
  }
  header nav {
    margin-left: auto;
  }

  .flex_container {
    display: flex;
  }
  .flex_item {
    flex: 1;
  }

  header a.icon {
    display: none;
  }

  #tuotekuvat img {
    height: 350px;
    width: 350px;
  }
}

@media only screen and (min-width: 1024px) {
  #tuotekuvat img {
    height: 350px;
    width: 350px;
    padding: 20px;
  }
}
